@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
@import "../../../../styles.scss";

.createEventViewDetails {
  .modalContent {
    border-radius: 42px;
  }

  .ftIcon {
    color: grey;
    font-size: 19px;
    margin: 8px 16px;
  }
}