@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import "../../../../styles.scss";

.attedeesGuestList {
  text-decoration: none;
  .btn {
    text-decoration: none;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    height: 30px;
    width: 30px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }
  .styledSelect {
    text-decoration: none;
  }
  .ftIcon {
    color: grey;
    font-size: 19px;
    margin: 8px 16px;
  }

  // .actionContainer {
  //   padding-bottom: 20px;
  //   padding-top: 20px;
  //   margin-bottom: 20px;
  //   border-bottom: 3px solid gray;

  //   .searchHeader {
  //     width: 250px;
  //   }

  //   .searchIcon {
  //     position: relative;
  //     width: 16px;
  //     right: 25px;
  //   }
  // }
}
