@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
@import "../../../../styles.scss";

.eventOicMemberDetails {
  .ftIcon {
    color: grey;
    font-size: 19px;
    margin: 8px 16px;
  }
  .styledSelect {
    text-decoration: none;
  }
}
